//Created by GHostEater on 6/12/2016.
div(ng-controller="StudentResultViewController as vm")
  .panel.panel-info(ng-repeat="(key,res) in vm.results | orderBy:'-session'")
    .panel-heading
      h3.panel-title
        span {{res.gp.student.user.last_name | uppercase}}, {{res.gp.student.user.first_name}} &nbsp
        span {{res.gp.student.user.username | matricNo}} &nbsp
        span {{res.gp.session}} Session &nbsp
        span(ng-show="res.gp.semester == 1") 1st Semester
        span(ng-show="res.gp.semester == 2") 2nd Semester
    .panel-body
      .table-responsive
        table.table.table-striped
          thead
            th Code
            th Course Title
            th Unit
            th CA
            th Exam
            th Score 100%
            th Grade
            th Actions
          tbody
            tr(ng-repeat="result in res.result | orderBy:'+code'")
              td {{result.course.code}}
              td {{result.course.title}}
              td {{result.course.unit}}
              td {{result.ca}}
              td {{result.exam}}
              td {{result.final}}
              td {{result.grade}}
              td
                button.btn.btn-xs.btn-warning(ng-click="vm.editCa(result.id)") Edit Ca
                button.btn.btn-xs.btn-warning(ng-click="vm.editExam(result.id)") Edit Exam
        span TCE: {{res.gp.tce}}&nbsp
        span TNU: {{res.gp.tnu}}&nbsp
        span TCP: {{res.gp.tcp}}&nbsp
        span GPA: {{res.gp.gpa | number:2}}&nbsp
        span CGPA: {{res.gp.cgpa | number:2}}
        .row.sm-content
          button.btn.btn-primary(ng-click="vm.processResult(res.gp)") Re-Process Result
