//Created by P-FLEX MONEY on 11-Dec-18.
div(ng-controller="IdCardCtrl as vm").row
  .row
    .col-sm-3(ng-show="vm.user.type == 2 || vm.user.type == 1 || vm.user.type == 3")
      select.form-control.input-sm(ng-model="vm.college" ng-options="college as college.acronym for college in vm.colleges track by college.id")
        option(value='') Select College
    .col-sm-3(ng-show="vm.user.type == 2 || vm.user.type == 5 || vm.user.type == 1 || vm.user.type == 8 || vm.user.type == 3")
      select.form-control.input-sm(ng-model="vm.dept" ng-options="dept as dept.name for dept in vm.depts | filter:{college:vm.college} track by dept.id")
        option(value='') Select Department
    .col-sm-2
      button.btn.btn-sm.btn-primary(ng-click="vm.getStudents()") Go
  .col-sm-4.content-vert
    form
      input.form-control.input-sm(type="text" placeholder="Search" ng-model="vm.searchTerm")
  .col-sm-12
    button.btn.btn-sm.btn-warning(ng-click="vm.exportToExcel('#table')") Export
  .col-sm-12
    table.table.table-condensed.table-striped.table-bordered#table
      thead
        th Matric No
        th Name
        th Phone Number
        th College
        th Department
        th Course
        th Level
        th Image Link
        th Signature Link
      tbody
        tr(ng-repeat="student in vm.students | orderBy: '+username' | filter: vm.searchTerm")
          td {{student.user.username | matricNo}}
          td {{student.user.last_name | uppercase}} {{student.user.first_name}}
          td {{student.user.phone}}
          td {{student.major.dept.college.name}}
          td {{student.major.dept.name}}
          td {{student.major.name}}
          td {{student.level.level}}
          td {{student.user.img}}
          td {{student.user.sign}}
