//Created by GHostEater on 18-Mar-18.
.modal-header
  .modal-title Add Session
.modal-body
  form(name="vm.form").form-horizontal
    input.form-control.input-sm(type="text" ng-model="vm.session" placeholder="Session" required)
    label.control-label Current
      input.form-control.input-sm(type="checkbox" ng-model="vm.current")
    label.control-label Admission
      input.form-control.input-sm(type="checkbox" ng-model="vm.admission")
.modal-footer
  button.btn.btn-primary(ng-click="vm.ok()") Confirm
  button.btn.btn-default(ng-click="$dismiss()") Cancel
