//Created by GHostEater on 03-May-16.
div(ng-controller="CourseDetailsCtrl as vm")
  .row.content
    .col-sm-4
      input.form-control.input-sm(type="text" placeholder="Search" ng-model="vm.search")
    button.btn.btn-sm.btn-warning(ng-click="vm.request(vm.user.lecturer.id)" ng-show="vm.perm.status == null && vm.user.type != '1'") Request Edit Privileges
    button.btn.btn-sm.btn-primary(ng-click="vm.getDetails()") Load Course Details
  .panel.panel-primary
    .panel-heading Course Details for {{vm.course.course.code}} {{vm.course.course.title}} {{vm.session.session}} Session
    .panel-body
      h4 Registered Students
      h5 Pass Percentage: {{vm.passPercentage | number:'2'}}%
      h5 Total Students: {{vm.students.length}}
      .col-sm-2
        table.table.table-bordered.table-striped
          tr(ng-repeat="course_grade in vm.course_grades | orderBy:'+grade'")
            th {{course_grade.grade}}
            td {{course_grade.count}}
      .table-responsive
        table.table.table-bordered.table-striped
          thead
            th S/N
            th Matric No
            th Name
            th.text-center(colspan="4") Results
            tr
              th
              th
              th
              th CA
              th Exam
              th Score 100%
              th Grade
              th(ng-show="vm.perm.status == 1 || vm.user.type == 1") Actions
          tbody
            tr(ng-repeat="(key,student) in vm.students | orderBy: '+info.user.username' | filter: vm.search")
              td {{key+1}}
              td {{student.info.user.username | matricNo}}
              td {{student.info.user.last_name}}, {{student.info.user.first_name}}
              td {{student.result.ca}}
              td {{student.result.exam}}
              td {{student.result.final}}
              td {{student.result.grade}}
              td(ng-show="vm.perm.status == 1 || vm.user.type == 1")
                button.btn.btn-xs.btn-warning(ng-click="vm.editCa(student.result)") Edit CA
                button.btn.btn-xs.btn-warning(ng-click="vm.editExam(student.result)") Edit Exam
    .panel-footer.hidden-print(ng-show="((vm.course.position == 1) || (vm.user.hod || vm.user.type == 1)) && vm.students")
      .row.content
        csv-upload.col-sm-4(ng-model="vm.ca")
        button.col-sm-2.btn.btn-primary(ng-click="vm.uploadCA()") Upload CA
      .row.content
        csv-upload.col-sm-4(ng-model="vm.exam")
        button.col-sm-2.btn.btn-primary(ng-click="vm.uploadExam()") Upload Exam
      h5(ng-show="vm.notReg") Unregistered Students
        ol
          li(ng-repeat="reg in vm.notReg") {{reg | matricNo}}
