.panel.panel-default.text-center
  .panel-heading
    .panel-title Dashboard for Dean
  .panel-body
    ul.nav.nav-pills.nav-stacked
      li(ui-sref-active="active")
        a(ui-sref='admin_student_list') Student List
      li(ui-sref-active="active")
        a(ui-sref='adminOverviewSheet') Overview Sheet
      li(ui-sref-active="active")
        a(ui-sref='adminBroadSheet') Broad Sheet
      li(ui-sref-active="active")
        a(ui-sref='editRequest') Result Edit Requests
      li(ui-sref-active="active")
        a(ui-sref='editLog') Result Edit Logs
