.panel.panel-default.text-center
  .panel-heading
    .panel-title Dashboard for Student
  .panel-body
    ul.nav.nav-pills.nav-stacked(ng-show="vm.access_fee_paid")
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown") Course Registration
        ul.dropdown-menu
          li(ui-sref-active="active")
            a(ui-sref='reg_info_fresh') Information for Fresh Students
          li(ui-sref-active="active")
            a(ui-sref='reg_info_returning') Information for Returning Students
          li(ui-sref-active="active" ng-show="(vm.pay_status.p_first && vm.semester.semester == 1) || (vm.pay_status.p_total && vm.semester.semester == 2)")
            a(ui-sref='courseReg') Register Courses
          li(ui-sref-active="active" ng-show="(vm.pay_status.p_first && vm.semester.semester == 1) || (vm.pay_status.p_total && vm.semester.semester == 2)")
            a(ui-sref='courseSlip') View/Print Completed Course Form
      li(ui-sref-active="active")
        a(ui-sref='tuition_fee_clearance') Eligibility and Clearance
      li(ui-sref-active="active" ng-hide="vm.user.student.level.level == 100")
        a(ui-sref='courseReview') Lecturers Assessment
      li(ui-sref-active="active" ng-show="vm.user.student.level.level == 100")
        a(ui-sref='acceptance') Acceptance Form
      li(ui-sref-active="active" ng-show="vm.user.student.level.level != 100")
        a(ui-sref='intra_transfer') Intra-University Transfer
      li(ui-sref-active="active")
        a(ui-sref='studentResult') View/Print Result
      li(ui-sref-active="active" ng-show="vm.user.student.level.level == 400")
        a(ui-sref='grad_status') Graduation Status/Print Clearance Form
    ul.nav.nav-pills.nav-stacked
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown") Payments
        ul.dropdown-menu
          li(ui-sref-active="active")
            a(ui-sref='student_payment') Current Charges & {{vm.tuition_fee.name}} Information
          li(ui-sref-active="active")
            a(ui-sref='payment_history') Payment History
          li(ui-sref-active="active")
            a(ui-sref='payment_validation') Payment Re-Validation
      li(ui-sref-active="active")
        a(ui-sref='student_setup({id:user.id})') Personal Setup
