//Created by GHostEater on 09-Nov-17.
.panel.panel-default.text-center
  .panel-heading
    h3.panel-title Dashboard for Student Affairs
  .panel-body
    ul.nav.nav-pills.nav-stacked
      li(ui-sref-active="active")
        a(ui-sref='hostel') Hostels
      li(ui-sref-active="active")
        a(ui-sref='room') Rooms
      li(ui-sref-active="active")
        a(ui-sref='roomAllocation') Room Allocation
