.panel.panel-default.text-center
  .panel-heading
    .panel-title Dashboard for Academic Affairs
  .panel-body
    ul.nav.nav-pills.nav-stacked
      li(ui-sref-active="active")
        a(ui-sref='adminCourseAllocation') Course Allocation
      li(ui-sref-active="active")
        a(ui-sref='adminOverviewSheet') Overview Sheet
      li(ui-sref-active="active")
        a(ui-sref='adminBroadSheet') Broad Sheet
      li(ui-sref-active="active")
        a(ui-sref='editLog') Result Edit Logs
      li(ui-sref-active="active")
        a(ui-sref='log') System Logs
      li(ui-sref-active="active")
        a(ui-sref='gradList') Graduating List
      li(ui-sref-active="active")
        a(ui-sref='lateRegRequest') Late Registration Requests
