nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller="HeaderController as vm").hidden-print
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref="login") Summit University Portal
    #navbar.navbar-collapse.collapse
      form.navbar-form.navbar-left
        span Current Session: {{session.session}}
        br
        span Current Semester:&nbsp
        span(ng-show="semester.semester == 1") 1st
        span(ng-show="semester.semester == 2") 2nd
      form.navbar-form.navbar-right
        div(ng-show="vm.user.loggedIn")
          span Hello {{vm.user.last_name | uppercase}}, {{vm.user.first_name}}&nbsp
          span(ng-show="vm.user.student") {{vm.user.student.level.level}} Level&nbsp
          a.btn.btn-xs.btn-danger(ng-click="vm.logOut()") Logout
