div(ng-controller='CourseToMajorCtrl as vm')
  .row
    .col-sm-3(ng-show="vm.user.type == 1")
      select.form-control.input-sm(ng-model='vm.college' ng-change='vm.getDepts(vm.college.name)' ng-options="college as college.acronym for college in vm.colleges track by college.id")
        option(value='') Select College
    .col-sm-3
      select.form-control.input-sm(ng-model='vm.dept', ng-change='vm.getMajors(vm.dept.name)' ng-options="dept as dept.name for dept in vm.depts track by dept.id")
        option(value='') Select Department
    .col-sm-3
      select.form-control.input-sm(ng-model='vm.major' ng-options="major as major.name for major in vm.majors track by major.id")
        option(value='') Select Major
    .col-sm-3
      button.btn.btn-sm.btn-primary(ng-click='vm.getMajorCourses(vm.major.id)') Go
  .row(ng-show='vm.majorCourses')
    .col-sm-12.content-vert
      button.btn.btn-primary(ng-click='vm.add(vm.major.id)') Add Course to {{vm.major.name}}
    .col-sm-12
      .panel.panel-primary
        .panel-heading
          h3.panel-title {{vm.major.name}} Courses
        .panel-body
          section(ng-repeat='level in vm.levels')
            h3.text-center {{level.level}} Level
            h5 1st Semester
            .table-responsive
              table.table.table-bordered.table-striped
                thead
                  th Course Code
                  th Course Title
                  th Unit
                  th Type
                  th Actions
                tbody
                  tr(ng-repeat='course in vm.majorCourses | filter:{course:{semester:1},level:level.level}')
                    td {{course.course.code}}
                    td {{course.course.title}}
                    td {{course.course.unit}}
                    td {{course.course.type}}
                    td
                      button.btn.btn-xs.btn-danger(ng-click="vm.remove(course.id)") Delete
            h5 2nd Semester
            .table-responsive
              table.table.table-bordered.table-striped
                thead
                  th Course Code
                  th Course Title
                  th Unit
                  th Type
                  th Actions
                tbody
                  tr(ng-repeat='course in vm.majorCourses | filter:{course:{semester:2},level:level.level}')
                    td {{course.course.code}}
                    td {{course.course.title}}
                    td {{course.course.unit}}
                    td {{course.course.type}}
                    td
                      button.btn.btn-xs.btn-danger(ng-click="vm.remove(course.id)") Delete
