//Created by GHostEater on 01-May-18.
div(ng-controller="AdminPaymentReportsAdmissionCtrl as vm")
  .row.hidden-print
    .col-sm-4
      select.form-control.input-sm(ng-model="vm.payment_type" ng-options="payment_type as payment_type.name for payment_type in vm.payment_types track by payment_type.id")
        option(value='') Select Payment Type
    .col-sm-4
      select.form-control.input-sm(ng-model="vm.session" ng-options="session as session.session for session in vm.sessions track by session.id")
        option(value="") Select Session
    .col-sm-4
      button.btn.btn-sm.btn-primary(ng-click="vm.getPaid()") Paid List
      button.btn.btn-sm.btn-primary(ng-click="vm.getUnPaid()") UnPaid List
  .row.hidden-print
    .col-sm-12.content-vert
      input.form-control.input-sm(ng-model="vm.search" placeholder="Search")
  .row
    span {{vm.payment_type.name}}
    span(ng-show="vm.payments") $nbsp Paid List
    span(ng-show="vm.students") $nbsp UnPaid List
  .row
    span Session {{vm.session.session}}
  .table-responsive(ng-show="vm.payments")
    table.table.table-striped.table-bordered
      thead
        th Applicant
        th Date of Payment
      tbody
        tr(ng-repeat="payment in vm.payments | filter:vm.search")
          td {{payment.application.last_name}}, {{payment.application.first_name}}
          td {{payment.date | date:'dd-MMM-yyyy hh:mm:ssa'}}
  .table-responsive(ng-show="vm.students")
    table.table.table-striped.table-bordered
      thead
        th Applicant
      tbody
        tr(ng-repeat="student in vm.students | filter:vm.search")
          td {{payment.application.last_name}}, {{payment.application.first_name}}
