//Created by P-FLEX MONEY on 26-Feb-19.
div(ng-controller="StudentFinePaymentCtrl as vm").row
  .col-sm-6.col-sm-offset-3
    .panel.panel-info
      .panel-heading
        .panel-title Payment of Fines
      .panel-body
        form(name="vm.form").form-horizontal
          .row.content-vert
            .col-sm-12
              button.btn.btn-sm.btn-primary(ng-click="vm.pay = 500") ₦500
              button.btn.btn-sm.btn-primary(ng-click="vm.pay = 1000") ₦1,000
              button.btn.btn-sm.btn-primary(ng-click="vm.pay = 2000") ₦2,000
              button.btn.btn-sm.btn-primary(ng-click="vm.pay = 3000") ₦3,000
              button.btn.btn-sm.btn-primary(ng-click="vm.pay = 4000") ₦4,000
              button.btn.btn-sm.btn-primary(ng-click="vm.pay = 5000") ₦5,000
          .row.content-vert
            .col-sm-12
              textarea.form-control(placeholder="Description of Fine" ng-model="vm.narration" required)
            .col-sm-12
              label.control-label Enter Amount
                input.form-control.input-sm(type="number" ng-model="vm.pay" required)
          .row.content-vert
            .col-sm-12
              button.btn.btn-sm.btn-primary(ng-click="vm.pay_fine()") Pay
