//Created by GHostEater on 26-Apr-18.
div(ng-controller="StudentPayCtrl as vm")
  .row
    .col-sm-4.col-sm-offset-4.text-center(ng-show="vm.payment.paid === false")
      .panel.panel-info(ng-show="vm.payment.paid === false")
        .panel-heading
          .panel-title {{vm.payment_type.name}} Payment
        .panel-body
          h5(ng-show="vm.charges === 0") {{vm.payment_type.name}}: ₦{{vm.payment_type.amount | number:'0'}}
          h5(ng-show="vm.charges != 0") {{vm.payment_type.name}}: ₦{{vm.payment_type.amount_orig | number:'0'}}
          h5(ng-show="vm.charges != 0") Processing Fee: ₦{{vm.charges | number:'0'}}
          h5(ng-show="vm.charges != 0") Total: ₦{{vm.payment_type.amount | number:'0'}}
          div(ng-show="!vm.payment.rrr")
            h5 Order ID: {{vm.order_id}}
              button.btn.btn-sm.btn-primary(ng-click="vm.generate_order_id()" ng-show="!vm.order_id") Generate Order ID

            button.btn.btn-primary(ng-click="vm.generateRrr()" ng-show="vm.remita == false") Generate Remita Retrieval Reference

          div(ng-show="vm.payment.rrr && vm.payment.paid == false")
            h5 Order ID: {{vm.payment.order_id}}
            h5 Remita Retrieval Reference: {{vm.payment.rrr}}
            form(action="{{vm.remitaPay}}" name="SubmitRemitaForm" method="POST" target="_blank").remitaForm2
              input(name="merchantId" value="{{vm.payment.payment_type.merchant_id}}" type="hidden")
              input(name="hash" value="{{vm.hash}}" type="hidden")
              input(name="rrr" value="{{vm.payment.rrr}}" type="hidden")
              input(name="responseurl" value="{{vm.remitaFinalResponse}}" type="hidden")
              input.btn.btn-success(type='submit', name='submit_btn', value='Pay Via Remita')
            button.btn.btn-success(ng-click="vm.check_status(vm.payment)") Check Remita Transaction Status
            a.btn.btn-primary(ui-sref="payment_reference({id:vm.payment.id})") View/Print Remita Payment Reference
            button.btn.btn-primary(ng-click="vm.reload()") Refresh
          .row.content-vert
            a.btn.btn-primary(ng-click="vm.back()") Go Back

    .col-sm-6.col-sm-offset-3.text-center(ng-show="vm.payment.paid === true")
      h4 {{vm.payment_type.name}}: ₦{{vm.payment_type.amount_orig | number:'0'}}
      h4 You have already paid for this
      a.btn.btn-primary(ng-click="vm.back()") Go Back
      a.btn.btn-primary(ui-sref="payment_receipt({id:vm.payment.id})") View/Print Receipt
