//Created by GHostEater on 26-Jun-17.
div(ng-controller="CourseRegCtrl as vm")
  .row
    div.text-center(ng-show="vm.done_reviews === false").text-center
      h2 You Cannot Register Courses, You have not done your Course Lecturer Evaluations.

    div.text-center(ng-show="vm.student.status == 4").text-center
      h2 You Cannot Register Courses, You are on Suspension.
    div.text-center(ng-show="vm.student.status == 7").text-center
      h2 You Cannot Register Courses, You are Withdrawn from the System. Contact your Level Adviser.
    div.text-center(ng-show="vm.student.status == 8").text-center
      h2 You Cannot Register Courses, You are A Graduate.

    div.text-center(ng-show="vm.regStatus == 0 && !vm.lateRegStatus")
      h2 Normal Registration is Closed. You Cannot Register Courses.
      button.btn.btn-sm.btn-primary(ng-click="vm.requestLateReg()") Apply for Late Registration
    div.text-center(ng-show="vm.lateRegStatus.status == 0")
      h3 Processing Late Registration Request... Please Contact Academic for Further instructions and Check back later.
    .col-sm-12.text-center(ng-show="vm.lateRegStatus.status == 1 && vm.paid_late_reg === false")
      h3 Late Registration Request Approved... Payment Required
      button.btn.btn-sm.btn-primary(ui-sref="student_pay({id:vm.late_reg_payment_type.id})") Pay {{vm.late_reg_payment_type.name}}
  .row(ng-show="(vm.student.status == 1) && (vm.regStatus.status == 1 || (vm.lateRegStatus.status == 1 && vm.paid_late_reg === true)) && vm.done_reviews")
    .col-sm-12(ng-show="!vm.extra_unit")
      button.btn.btn-sm.btn-primary(ng-click="vm.request_extra_unit()") Request Extra Units
    .col-sm-12(ng-show="vm.extra_unit.status === 0").text-center
      h4 Processing Extra Unit Request... Please Contact Academic for Further instructions and Check back later.
    .col-sm-12(ng-show="vm.extra_unit.status === 1 && vm.paid_extra_unit === false").text-center
      h4 Extra Unit Request Approved... Payment Required
      button.btn.btn-sm.btn-primary(ui-sref="student_pay({id:vm.extra_unit_payment_type.id})") Pay {{vm.extra_unit_payment_type.name}}
    .col-sm-8
      .panel.panel-primary
        .panel-heading Course Registration
        .panel-body
          table.table.table-striped.table-condensed
            thead
              th Course Code
              th Course Title
              th Unit
              th Type
              th Actions
            tbody
              tr(ng-repeat="course in vm.courses | orderBy: '+course.code'")
                td {{course.course.code}}
                td {{course.course.title}}
                td {{course.course.unit}}
                td {{course.course.type}}
                td
                  button.btn.btn-xs.btn-success(ng-click="vm.addCourse(course,0)") Add
    .col-sm-4
      .panel.panel-primary
        .panel-heading Selected Courses
        .panel-body
            span Total Units/Unit Limit: {{vm.counter}}/{{vm.counter_limit}}
            table.table.table-striped.table-condensed
              thead
                th Course Code
                th Unit
                th Action
              tbody
                tr(ng-repeat="reg in vm.regs")
                  td {{reg.course.course.code}}
                  td {{reg.course.course.unit}}
                  td
                    button.btn.btn-xs.btn-danger(ng-click="vm.removeCourse(reg.course,reg.from)" ng-hide="reg.status == 1") Remove
        .panel-footer
          button(ng-show="(vm.counter >= 15 && vm.counter <= vm.counter_limit) || ((vm.student.level.level === '300' || vm.student.level.level === '400') && vm.semester.semester === 2 && vm.counter >= 6) || (vm.student.level.level === '400' && vm.counter >= 1 && vm.counter <= vm.counter_limit)" ng-click="vm.submitCourseForm()").btn.btn-primary Submit Course Form
  .row(ng-show="(vm.student.status == 1) && (vm.regStatus.status == 1 || (vm.lateRegStatus.status == 1 && vm.paid_late_reg === true)) && vm.done_reviews")
    .col-sm-6.col-sm-offset-4(ng-show="vm.outstandings.length>0")
      .panel.panel-danger
        .panel-heading Outstanding Courses
        .panel-body
          table.table.table-striped.table-condensed
            thead
              th Course Code
              th Course Title
              th Unit
              th Type
              th Actions
            tbody
              tr(ng-repeat="course in vm.outstandings | orderBy: '+course.code'")
                td {{course.course.code}}
                td {{course.course.title}}
                td {{course.course.unit}}
                td {{course.course.type}}
                td
                  button.btn.btn-xs.btn-success(ng-click="vm.addCourse(course,1)") Add
