//Created by GHostEater on 01-May-16.
div(ng-controller="CourseSlipCtrl as vm").row
  .col-sm-12
    .row.visible-print
      .col-sm-1
        img.center-block(src="img/logo.png" width="30px")
      .col-sm-10.text-center
        h4 FOUNTAIN UNIVERSITY, OSOGBO
        h5 (University of Nasrul-Lahi-Il-Fatih Society)
        h6 {{vm.user.student.major.dept.college.name}}
      .row
        .col-sm-2.col-sm-offset-10
          img.img-responsive.center-block(ng-src="{{vm.user.student.user.img}}" width="60px")
      .row
        span.col-sm-4 Session: {{vm.session.session}}
        span.col-sm-4.col-sm-offset-4 Semester: {{vm.semester.semester}}
          span(ng-show="vm.semester.semester == 1") st Semester
          span(ng-show="vm.semester.semester == 2") nd Semester

      .row
        span.col-sm-4 Department: {{vm.user.student.major.dept.name}}
        span.col-sm-4.col-sm-offset-4 Major: {{vm.user.student.major.name}}
      .row
        span.col-sm-10 Name:&nbsp
          b {{vm.user.student.user.last_name | uppercase}},&nbsp
          span {{vm.user.student.user.first_name}}
      .row
        span.col-sm-10 Matric Number: {{vm.user.student.user.username | matricNo}}
      .row
        span.col-sm-10 Level: {{vm.user.student.level.level}}
  table.table.table-striped.table-bordered.table-condensed
    thead
      th Course Code
      th Course Title
      th Unit
      th Type
      th.hidden-print Action
    tbody
      tr(ng-repeat="course in vm.courses | orderBy: '+code'")
        td {{course.course.code}}
        td {{course.course.title}}
        td {{course.course.unit}}
        td {{course.course.type}}
        td.hidden-print
          button.btn.btn-xs.btn-danger(ng-click="vm.deleteCourse(course.id)") Delete Course
  span.row Total Units Registered: {{vm.counter}}
  .row.visible-print
    .col-sm-5
      span ________________________&nbsp
      br
      span Student's Signature/Date
  br
  .row.visible-print
    .col-sm-5.col-sm-offset-2
      span ____________________________&nbsp
      br
      span Level Adviser Signature/Date
  .row.content.hidden-print
    button.btn.btn-xs.btn-primary(ng-click="vm.print()") Print
