//
   Created by GHostEater on 6/11/2016.
.modal-header
    h3.modal-title Delete Registered Course
.modal-body
    p.text-center Are You Sure
.modal-footer
    button.btn.btn-danger(ng-click="vm.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel