//Created by GHostEater on 26-Jun-17.
div(ng-controller="CourseRegCtrl as vm")
  .row
    div.text-center(ng-show="vm.student.status == 4").text-center
      h2 You Cannot Register Courses, You are on Suspension.
    div.text-center(ng-show="vm.student.status == 5").text-center
      h2 You Cannot Register Courses, You are Withdrawn from the System. Contact your Level Adviser.

    div.text-center(ng-show="vm.regStatus == 0 && vm.lateRegStatus == ''")
      h2 Normal Registration is Closed. You Cannot Register Courses.
      button.btn.btn-primary(ng-click="vm.requestLateReg()") Apply for Late Registration
    div.text-center(ng-show="vm.lateRegStatus.length > 0")
      h3 Processing Late Registration Request... Please Contact Academic for Further instructions and Check back later.
  .row(ng-show="(vm.student.status == 1) && (vm.regStatus.status == 1 || vm.lateRegStatus.status == 1)")
    .col-sm-8
      .panel.panel-primary
        .panel-heading Course Registration
        .panel-body
          table.table.table-striped.table-condensed
            thead
              th Course Code
              th Course Title
              th Unit
              th Type
              th Actions
            tbody
              tr(ng-repeat="course in vm.courses | orderBy: '+course.code'")
                td {{course.course.code}}
                td {{course.course.title}}
                td {{course.course.unit}}
                td {{course.course.type}}
                td
                  button.btn.btn-xs.btn-success(ng-click="vm.addCourse(course,0)") Add
    .col-sm-4
      .panel.panel-primary
        .panel-heading Selected Courses
        .panel-body
            span Total Units: {{vm.counter}}
            table.table.table-striped.table-condensed
              thead
                th Course Code
                th Unit
                th Action
              tbody
                tr(ng-repeat="reg in vm.regs")
                  td {{reg.course.course.code}}
                  td {{reg.course.course.unit}}
                  td
                    button.btn.btn-xs.btn-danger(ng-click="vm.removeCourse(reg.course,reg.from)" ng-hide="reg.status == 1") Remove
        .panel-footer
          button(ng-show="(vm.counter >= 15 && vm.counter <= vm.counter_limit) || ((vm.student.level.level === '300' || vm.student.level.level === '400') && vm.semester.semester === 2 && vm.counter >= 6) || (vm.student.level.level === '400' && vm.counter >= 1 && vm.counter <= vm.counter_limit)" ng-click="vm.submitCourseForm()").btn.btn-primary Submit Course Form
          //button(ng-show="" ng-click="vm.submitCourseForm()").btn.btn-primary Submit Course Form
          //button(ng-show="" ng-click="vm.submitCourseForm()").btn.btn-primary Submit Course Form
  .row(ng-show="(vm.student.status == 1) && (vm.regStatus.status == 1 || vm.lateRegStatus.status == 1)")
    .col-sm-6.col-sm-offset-4(ng-show="vm.outstandings.length>0")
      .panel.panel-danger
        .panel-heading Outstanding Courses
        .panel-body
          table.table.table-striped.table-condensed
            thead
              th Course Code
              th Course Title
              th Unit
              th Type
              th Actions
            tbody
              tr(ng-repeat="course in vm.outstandings | orderBy: '+course.code'")
                td {{course.course.code}}
                td {{course.course.title}}
                td {{course.course.unit}}
                td {{course.course.type}}
                td
                  button.btn.btn-xs.btn-success(ng-click="vm.addCourse(course,1)") Add
