//Created by P-FLEX MONEY on 05-Dec-18.
h4.text-center REGISTRATION PROCEDURE FOR RETURNING STUDENTS
h5 Payment of University and College Charges
ol
  li Visit the {{school_med_name}} Website ({{school_site}}) and click on the Portal link.
  li Click on Login link on the Portal and log-in your Matriculation Number as Username and Date of Birth as your default password.
  li You are required to change your initial password from Date of Birth to a new one which should be confidential and only known to you. You are advised to choose a password bthat is difficult to guess but memoreble to you . In case you forget your password , the password recovery is available online after payment of necessary charges.
  li Please be mindful of the spellings and arrangements of your name during registration.
p NOTE: If you are a student of {{school_med_name}} and your name does not appear on the Standard List, interact with your Level Adviser to confirm your status.

h5 STANDARD LIST
ol
  li Your customised charges and and levies would be displayed and you would be requested to make online payment for approved charges, using your ATM Master Card or Internet Banking.
  li If payment is successful, you are to print the payment receipt and four copies of the final course form.
  li If you are in Standard List or Probation, Click on Course Registration link and review your appropriate and relevant courses.
  li Print out preliminary course registration form and present to your Level Adviser, who should authenticate the course you have selected before registration
  li After authentication, go back to the website and register as advised by your Level Adviser. You are to register for courses failed before registering for current level courses. Seek guidance from your Level Adviser.
  li Present the copies of the Registration form to your Level Adviser and College Officer for appropriate signature and collect your copy from the College Office. Keep your copy safely as you would need it for your Examinations.
p NOTE: Students are expected to pay only N315.00 as remita charges, in addition to the main charges and thus are to ensure that there is enough balance in their bank account to accommodate the charges.
p NOTE: Any Student who fails to authenticate selected courses before registration does so at his risk. Once you pay and register for courses you are expected to offer, you will need to use the Add Drop form to make amendment(s)

h5 IF NOT IN STANDARD LIST
p if you are not in standard list, further instructions would be displayed as you may no longer be able to continue programme. You are then advised to fill a change of course form, on account of not being in standard list.

h6 Steps on Change of Courses
ol
  li Click on Intra-University Transfer link
  li Make online payment for change of course form on account of not being in standard list, provided you are qualified.
  li Download the completed form.
  li Submit duly approved Transfer Form to the directorate of Academics Support services for processing and subsequent registration

h5 OTHER ISSUES
h6 ADD AND/OR DROP FORM
p NOTE: The form can be accessed after 3 weeks of registration. Processing of ADD Drop form is based on semester and all procedures for actualizing ADD/DROP must be completed within the stipulated period.

p Procedures for ADD/DROP
  br
  span There are two procedures involved. The first is for students who are still within the range of 48 maximum credit and the other is for those seek to register above 48 credit per session.

p (A).Students who have concerns regarding registration (e.g. error in registration) can add or drop courses. This should be done online without downloading any form by the affected students. The concerned students are required to pay online and effect changes as approved by their Level Adviser. Students should note that ADD/DROP of courses should be done within the period stipulated online by the university as lateness will not be condoned.

p (B). Procedures for Additional Credit (s) after the normal 48 credits
ol
  li Payment for the Additional credit(s) is done online.
  li The form is printed online from the portal. Note that the permission of the Head of Department and approval of the Dean are required when you are adding above the maximum of 24 credits allowed per semester.
  li The form is to be forwarded to the Registry (Academic Support Services) through the Dean with a copy of course Registration Form and payment receipt attached to the form and the approval of the Dean, as related to the (2) above.
  li After approval by Academic Support Services. Changes requested will be effected and an alert will also be sent to the concerned student who should print a new Course Registration Form from from the portal. This form supersedes the earlier one.
  li The form is to be forwarded to the Registry (Academics Support Services) through the Dean with a copy of Course Registration Form and payment receipt attached to the form and the approval of the Dean, as related to the (2) above
  li After approval by Academics Support Services , changes requested will be effected and an alert will also be sent to the concerned student who should print a new Course Registration Form from the portal. This form supersedes the earlier one.
  li The approved Additional Credit Form; Payment Receipt and old Course Form must be attached to the new Course form and forwarded to the Level Adviser College Officer and Bursary Unit for endorsement
  li Please note the Academic Support services will not treat any request for more than 24 credits per semester , if all the requirements in 2 and 3 are not met

h4 PLEASE NOTE THAT YOUR REGISTRATION IS NOT COMPLETE EVEN AFTER SUBMISSION ONLINE UNTIL YOUR FORMS ARE ENDORSED BY YOUR LEVEL ADVISER COLLEGE OFFICER AND BURSARY UNIT WITHIN THE REGISTRATION PERIOD.


h5 PAYMENT PROCEDURE
p Student are to note that all payments shall be online and shall be through the use of ATM cards or Internet banking on the university portal.
p Note: ATM cards on the Remita platform are supported, include Master Cards

h4 STUDENTS ARE ADVISED TO BEWARE OF FRAUDSTERS IN HANDLING THEIR PAYMENT CARD DETAILS AND REPORT ANY FRAUDULENT ACT TO THE SECURITY UNIT, FOUNTAIN UNIVERSITY, OSHOGBO.
.row
  .col-sm-12.text-center
    a.btn.btn-success(ui-sref="login") Proceed to Login
