//Created by P-FLEX MONEY on 25-Oct-18.
div(ng-controller="TuitionFeeClearanceCtrl as vm").row
  .col-sm-12
    .row.visible-print
      .col-sm-1
        img.center-block(src="img/logo.png" width="30px")
      .col-sm-10.text-center
        h4 {{school_long_name}}
        h5(ng-show="school_slogan != ''") ({{school_slogan}})
        h6 {{vm.user.student.major.dept.college.name}}
      .row
        .col-sm-2.col-sm-offset-10
          img.img-responsive.center-block(ng-src="{{vm.user.student.user.img}}" width="60px")
      .row
        span.col-sm-4 Session: {{vm.session.session}}
        span.col-sm-4.col-sm-offset-4 Semester: {{vm.semester.semester}}
          span(ng-show="vm.semester.semester == 1") st Semester
          span(ng-show="vm.semester.semester == 2") nd Semester

      .row
        span.col-sm-4 Department: {{vm.user.student.major.dept.name}}
        span.col-sm-4.col-sm-offset-4 Major: {{vm.user.student.major.name}}
      .row
        span.col-sm-10 Name:&nbsp
          b {{vm.user.student.user.last_name | uppercase}},&nbsp
          span {{vm.user.student.user.first_name}}
      .row
        span.col-sm-10 Matric Number: {{vm.user.student.user.username | matricNo}}
      .row
        span.col-sm-10 Level: {{vm.user.student.level.level}}
  .col-sm-12.text-center
    h3 ELIGIBILITY CARD
    h5 {{vm.tuition_fee.name}} Clearance for {{vm.session.session}} Session
    p Paid: ₦{{vm.paid | number:'0'}} ({{vm.paid_percentage | number:'2'}}%)
    p(ng-show="vm.pay_remaining_percentage>0") UnPaid: ₦{{vm.pay_remaining | number:'0'}} ({{vm.pay_remaining_percentage | number:'2'}}%)
    .row
      .col-sm-6.col-sm-offset-3
        table.table.table-bordered.table-striped
          tr
            th First Semester
            td(ng-show="vm.pay_status.p_first || vm.pay_status.paid_total") Cleared
            td(ng-show="vm.pay_status.p_first === false") Not Cleared
          tr(ng-show="vm.semester.semester == 2")
            th Second Semester
            td(ng-show="vm.pay_status.p_total") Cleared
            td(ng-show="vm.pay_status.p_total === false") Not Cleared
  .col-sm-12
    h4.text-center Payments for {{vm.session.session}} Session
    .table-responsive
      table.table.table-striped.table-bordered
        thead
          th Name
          th Order ID
          th Remita Retrieval Reference
          th Amount
          th Level
          th Date
          th Status
        tbody
          tr(ng-repeat="payment in vm.payments | filter:vm.search | orderBy:'-date'")
            td {{payment.payment_type.name}}
            td {{payment.order_id}}
            td {{payment.rrr}}
            td(ng-show="payment.amount") ₦{{payment.amount | number:'0'}}
            td(ng-hide="payment.amount") ₦{{payment.payment_type.amount | number:'0'}}
            td {{payment.level.level}}
            td {{payment.date | date:'dd-MMM-yyyy hh:mm:ssa'}}
            td(ng-class="{'bg-success':payment.paid === true,'bg-danger':payment.paid === false && !payment.rrr && payment.status != 'Pending','bg-warning':(payment.rrr || payment.status == 'Pending') && payment.paid == false}").text-white
              span Paid: {{payment.paid}}
  .col-sm-12(ng-show="vm.waved_payments")
    h4.text-center Waved Payments
    .table-responsive
      table.table.table-striped.table-bordered
        thead
          th Name
          th Amount
          th Level
        tbody
          tr(ng-repeat="payment in vm.waved_payments | filter:vm.search")
            td {{payment.payment_type.name}}
            td(ng-hide="payment.payment_type.tuition") ₦{{payment.payment_type.amount | number:'0'}}
            td(ng-show="payment.payment_type.tuition") ₦{{vm.tuition_total | number:'0'}}
            td {{payment.level.level}}
  .row.content.hidden-print
    button.btn.btn-sm.btn-primary(ng-click="vm.print()") Print
