//Created by GHostEater on 27-Jun-17.
div(ng-controller="LvlCourseSlipCtrl as vm")
  .col-sm-12
    .row.visible-print
      .col-sm-1
        img(src="img/logo.png")
      .col-sm-11.text-center
        h2 FOUNTAIN UNIVERSITY, OSOGBO
        h3 (University of Nasrul-Lahi-Il-Fatih Society)
        h4 {{vm.college.name}}
    .row.visible-print
      span.col-sm-4 Session: {{vm.session.session}}
      span.col-sm-4.col-sm-offset-4 Semester: {{vm.semester.semester}}
        span(ng-show="vm.semester.semester == 1") st Semester
        span(ng-show="vm.semester.semester == 2") nd Semester
    div.visible-print
      span.row Department: {{vm.student.major.dept.name}}
      span.row Major: {{vm.student.major.name}}
      span.row Name:&nbsp
        b {{vm.student.user.last_name | uppercase}},&nbsp
        span {{vm.student.user.first_name}}
      span.row Matric Number: {{vm.student.user.username | matricNo}}
    table.table.table-striped.table-bordered.table-condensed
      thead
        th Course Code
        th Course Title
        th Unit
        th Type
        th Action
      tbody
        tr(ng-repeat="course in vm.registeredCourses | orderBy: '+code'")
          td {{course.course.code}}
          td {{course.course.title}}
          td {{course.course.unit}}
          td {{course.course.type}}
          td
            button.btn.btn-xs.btn-danger(ng-click="vm.deleteCourse(course.id)") Delete Course

    span.row Total Units Registered: {{vm.counter}}
  .col-sm-6(ng-show="vm.outstandings.length > 0")
    .panel.panel-danger
      .panel-heading
        .panel-title Outstanding Courses
      .panel-body
        table.table.table-striped.table-condensed
          thead
            th Course Code
            th Action
          tbody
            tr(ng-repeat="outstanding in vm.outstandings | orderBy: '+code'")
              td {{outstanding.course.code}}
              td
                button.btn.btn-xs.btn-primary(ng-click="vm.waveCourse(outstanding.course.id)") Wave Course
  .col-sm-6(ng-show="vm.wavings.length > 0")
    .panel.panel-info
      .panel-heading
        .panel-title Waved Courses
      .panel-body
        table.table.table-striped.table-condensed
          thead
            th Course Code
            th Action
          tbody
            tr(ng-repeat="waving in vm.wavings")
              td {{waving.course.code}}
              td
                button.btn.btn-xs.btn-primary(ng-click="vm.unWaveCourse(waving.id)") Unwave Course
