//Created by GHostEater on 26-Jun-17.
div(ng-controller="StudentListCtrl as vm")
  .col-sm-12
    form.col-sm-4
      input.form-control.input-sm(type="text" placeholder="Search" ng-model="vm.searchTerm")
  table.table.table-condensed.table-striped.table-bordered
    thead
      th Matric No
      th Name
      th College
      th Department
      th Major
      th Level
      th Mode of Entry
      th E-mail
      th Actions
    tbody
      tr(ng-repeat="student in vm.students | orderBy: '+username' | filter: vm.searchTerm")
        td {{student.user.username | matricNo}}
        td {{student.user.last_name | uppercase}}, {{student.user.first_name}}
        td {{student.college}}
        td {{student.dept}}
        td {{student.major}}
        td {{student.level}}
        td {{student.modeOfEntry}}
        td {{student.user.email}}
        td
          button.btn.btn-xs.btn-primary(ng-click="vm.view(student.user.id)" ng-show="vm.user.levelAdviser") View Details
          button.btn.btn-xs.btn-primary(ng-click="vm.edit(student.user.id)" ng-show="vm.user.levelAdviser") Edit
          a.btn.btn-xs.btn-primary(ui-sref="lvlCourseSlip({userId:student.user.id})" ng-show="vm.user.levelAdviser") View Course Registration Details
          a.btn.btn-xs.btn-primary(ui-sref="studentTranscript({userId:student.user.id})" ng-show="vm.user.levelAdviser") View Transcript
          a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.user.id})" ng-show="vm.user.examOfficer") View Result
