//Created by GHostEater on 10-Aug-18.
.col-sm-12
  .row
    h4.col-sm-12.text-center PASS LIST
  table.table.table-striped.table-bordered
    thead
      th S/N
      th Matric
      th Name
      th Previous CGPA
      th Present GPA
      th FINAL CGPA
      th
      th.hidden-print Actions
    tbody(style="font-size: 0.9em")
      tr(ng-repeat="(key,student) in vm.pass | orderBy:'+info.user.username'")
        td {{key + 1}}
        td {{student.info.user.username | matricNo}}
        td {{student.info.user.last_name | uppercase}}, {{student.info.user.first_name}}
        td {{student.prev_cgpa | number:2}}
        td {{student.gpa | number:2}}
        td {{student.cgpa | number:2}}
        td
          span(ng-show="student.cgpa >= vm.high_grade.lower_limit") {{school_short_name}} Scholar
        td.hidden-print
          a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
          a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
.col-sm-12
  .row
    h4.col-sm-12.text-center PASS WITH COURSE(S) STILL OUTSTANDING LIST
  table.table.table-striped.table-bordered
    thead
      th S/N
      th Matric
      th Name
      th Previous CGPA
      th Present GPA
      th FINAL CGPA
      th
      th.hidden-print Actions
    tbody(style="font-size: 0.9em")
      tr(ng-repeat="(key,student) in vm.pcso | orderBy:'+info.user.username'")
        td {{key + 1}}
        td {{student.info.user.username | matricNo}}
        td {{student.info.user.last_name | uppercase}}, {{student.info.user.first_name}}
        td {{student.prev_cgpa | number:2}}
        td {{student.gpa | number:2}}
        td {{student.cgpa | number:2}}
        td
          span(ng-show="student.cgpa >= vm.high_grade.lower_limit") {{school_short_name}} Scholar
        td.hidden-print
          a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
          a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
.col-sm-12
  .row
    h4.col-sm-12.text-center PROBATION LIST
  table.table.table-striped.table-bordered
    thead
      th S/N
      th Matric
      th Name
      th Previous CGPA
      th Present GPA
      th FINAL CGPA
      th.hidden-print Actions
    tbody(style="font-size: 0.9em")
      tr(ng-repeat="(key,student) in vm.probation | orderBy:'+info.user.username'")
        td {{key + 1}}
        td {{student.info.user.username | matricNo}}
        td {{student.info.user.last_name | uppercase}}, {{student.info.user.first_name}}
        td {{student.prev_cgpa | number:2}}
        td {{student.gpa | number:2}}
        td {{student.cgpa | number:2}}
        td.hidden-print
          a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
          a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
.col-sm-12
  .row
    h4.col-sm-12.text-center WITHDRAWAL LIST
  table.table.table-striped.table-bordered
    thead
      th S/N
      th Matric
      th Name
      th Previous CGPA
      th Present GPA
      th FINAL CGPA
      th.hidden-print Actions
    tbody(style="font-size: 0.9em")
      tr(ng-repeat="(key,student) in vm.withdrawal | orderBy:'+info.user.username'")
        td {{key + 1}}
        td {{student.info.user.username | matricNo}}
        td {{student.info.user.last_name | uppercase}}, {{student.info.user.first_name}}
        td {{student.prev_cgpa | number:2}}
        td {{student.gpa | number:2}}
        td {{student.cgpa | number:2}}
        td.hidden-print
          a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
          a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
.col-sm-12
  .row
    h4.col-sm-12.text-center SICK LIST
  table.table.table-striped.table-bordered
    thead
      th S/N
      th Matric
      th Name
      th.hidden-print Actions
    tbody(style="font-size: 0.9em")
      tr(ng-repeat="(key,student) in vm.sick | orderBy:'+user.username'")
        td {{key + 1}}
        td {{student.user.username | matricNo}}
        td {{student.user.last_name | uppercase}}, {{student.user.first_name}}
        td.hidden-print
          a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
          a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
.col-sm-12
  .row
    h4.col-sm-12.text-center LEAVE LIST
  table.table.table-striped.table-bordered
    thead
      th S/N
      th Matric
      th Name
      th.hidden-print Actions
    tbody(style="font-size: 0.9em")
      tr(ng-repeat="(key,student) in vm.leave | orderBy:'+user.username'")
        td {{key + 1}}
        td {{student.user.username | matricNo}}
        td {{student.user.last_name | uppercase}}, {{student.user.first_name}}
        td.hidden-print
          a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
          a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
.col-sm-12
  .row
    h4.col-sm-12.text-center DEFERMENT LIST
  table.table.table-striped.table-bordered
    thead
      th S/N
      th Matric
      th Name
      th.hidden-print Actions
    tbody(style="font-size: 0.9em")
      tr(ng-repeat="(key,student) in vm.deferment | orderBy:'+user.username'")
        td {{key + 1}}
        td {{student.user.username | matricNo}}
        td {{student.user.last_name | uppercase}}, {{student.user.first_name}}
        td.hidden-print
          a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
          a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
.col-sm-12
  .row
    h4.col-sm-12.text-center SUSPENSION LIST
  table.table.table-striped.table-bordered
    thead
      th S/N
      th Matric
      th Name
      th.hidden-print Actions
    tbody(style="font-size: 0.9em")
      tr(ng-repeat="(key,student) in vm.suspension | orderBy:'+user.username'")
        td {{key + 1}}
        td {{student.user.username | matricNo}}
        td {{student.user.last_name | uppercase}}, {{student.user.first_name}}
        td.hidden-print
          a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
          a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
.col-sm-2
  .panel.panel-info
    .panel-heading Summary
    .panel-body
      table.table.table-bordered
        tr
          th Pass
          td {{vm.pass.length}}
        tr
          th PCSO
          td {{vm.pcso.length}}
        tr
          th Probation
          td {{vm.probation.length}}
        tr
          th Withdrawal
          td {{vm.withdrawal.length}}
        tr
          th Leave
          td {{vm.leave.length}}
        tr
          th Sick
          td {{vm.sick.length}}
        tr
          th Suspension
          td {{vm.suspension.length}}
        tr
          th Deferment
          td {{vm.deferment.length}}
        tr
          th Total
          th {{vm.total}}
