//Created by GHostEater on 10-Aug-18.
.row.content.hidden-print
  .col-sm-12
    button.btn.btn-warning.btn-sm(ng-click="vm.processResult()" ng-show="(vm.user.type == 1 || vm.user.examOfficer) && vm.students.length > 0") Process Results
    button.btn.btn-warning.btn-sm(ng-click="vm.releaseResult()" ng-show='(vm.user.type == 1 || vm.user.examOfficer) && vm.status.status === true && vm.students.length > 0') Release Results
.row.content
  p {{vm.session.session}} Session
  p {{vm.semester.semester}}
    span(ng-show="vm.semester.semester == 1") st Semester
    span(ng-show="vm.semester.semester == 2") nd Semester
  uib-accordion(close-others="true")
    div(uib-accordion-group ng-repeat="student in vm.students | orderBy:'+info.user.username'").panel-info
      uib-accordion-heading {{student.info.user.last_name}}, {{student.info.user.first_name}} {{student.info.user.username | matricNo}}
      table.table.table-striped
        thead
          th Course Code
          th Course Title
          th Unit
          th Score 100%
          th Grade
        tbody
          tr(ng-repeat="result in student.result | orderBy:'+course.code'")
            td {{result.course.code}}
            td {{result.course.title}}
            td {{result.course.unit}}
            td {{result.final}}
            td {{result.grade}}
      span TNU: {{student.tnu}}&nbsp
      span TCP: {{student.tcp}}&nbsp
      span GPA: {{student.gpa | number:2}}&nbsp
      span CTNU: {{student.ctnu}}&nbsp
      span CTCP: {{student.ctcp}}&nbsp
      span CGPA: {{student.cgpa | number:2}}&nbsp
      span TCE: {{student.tce}}
