//Created by GHostEater on 22-Jun-17.
div(ng-controller="HomeCtrl as vm")
  h4.text-center
    em Welcome to {{school_med_name}} Portal System
  .row(ng-show="vm.user.type === '1' && vm.session.actions == 0")
    button.btn.btn-primary(ng-click="vm.sessionActions()") Session Actions
  div(ng-show="vm.user.type === '7'")
    .row(ng-show="vm.allocation")
      p.text-center You have been Allocated Room: {{vm.allocation.room.name}} in {{vm.allocation.room.hostel.name}} for {{vm.session.session}} Session
    .row(ng-show="vm.access_fee_paid === false").text-center
      p Portal Access Fee must be paid to access features on the portal.
    .row(ng-show="!vm.pay_status.p_first && vm.semester.semester == 1")
      p Minimum of Tuition Fees for 1st Semester must be paid to access Eligibility Clearance in 1st Semester
    .row(ng-show="!vm.pay_status.p_total && vm.semester.semester == 2")
      p 100% of Tuition Fees must be paid to access Eligibility Clearance in 2nd Semester
