//Created by GHostEater on 22-Jun-17.
div(ng-controller="HomeCtrl as vm")
  h4.text-center
    em Welcome to Summit University Portal System
  .row(ng-show="vm.user.type === '1' && vm.session.actions == 0")
    button.btn.btn-primary(ng-click="vm.sessionActions()") Session Actions
  .row(ng-show="vm.user.type === '7' && vm.allocation")
    p.text-center You have been Allocated Room: {{vm.allocation.room.name}} in {{vm.allocation.room.hostel.name}} for {{vm.session.session}} Session
  .row(ng-show="vm.access_fee_paid === false").text-center
    p Portal Access Fee must be paid to access features on the portal.
  .row(ng-show="!vm.pay_status.p60 && vm.semester.semester == 1")
    p 60% of Tuition Fees must be paid to access Course Registration in 1st Semester
  .row(ng-show="!vm.pay_status.p100 && vm.semester.semester == 2")
    p 100% of Tuition Fees must be paid to access Course Registration in 2nd Semester
  .row(ng-show="vm.user.type === '7' && vm.student.edit === false").text-center
    p.text-center
      i This is Allowed Once! Subsequent edit of Personal Information will require visiting ICT for assistance.
    a.btn.btn-sm.btn-primary(ui-sref="student_edit({id:vm.user.id})") Edit Personal Info & Password
