//   Created by GHostEater on 5/24/2016.
div(ng-controller="AdminOverviewSheetCtrl as vm")
  .row.visible-print.text-center
    span.col-sm-4
      img(src="img/logo.png" height="50px")
    span.col-sm-8
      h3 FOUNTAIN UNIVERSITY, OSOGBO
      h4 {{vm.session.session}} &nbsp
        span(ng-show="vm.semester.semester == 1") First Semester Examination Results
        span(ng-show="vm.semester.semester == 2") Second Semester Examination Results
  .row.visible-print
    span Department: {{vm.dept.name}}  Level: {{vm.level.level}}
  .row.visible-print
    span Programme: B.Sc &nbsp
    span(ng-show="vm.college.name === 'College of Management and Social Sciences'") (Hons.)
    span {{vm.major.name}}
  .row.hidden-print
    .col-sm-2(ng-show="vm.user.type == 2 || vm.user.type == 1")
      select.form-control.input-sm(ng-model="vm.college" ng-options="college as college.acronym for college in vm.colleges track by college.id")
        option(value='') Select College
    .col-sm-2(ng-show="vm.user.type == 2 || vm.user.type == 5 || vm.user.type == 1 || vm.user.type == 8")
      select.form-control.input-sm(ng-model="vm.dept" ng-options="dept as dept.name for dept in vm.depts | filter:{college:{id:vm.college.id}} track by dept.id")
        option(value='') Select Department
    .col-sm-2(ng-show="vm.user.type == 2 || vm.user.type == 5 || vm.user.type == 1 || vm.user.type == 8")
      select.form-control.input-sm(ng-model="vm.major" ng-options="major as major.name for major in vm.majors | filter:{dept:{name:vm.dept.name}} track by major.id")
        option(value="") Select Major
    .col-sm-2
      select.form-control.input-sm(ng-model="vm.level" ng-options="level as level.level for level in vm.levels track by level.id")
        option(value="") Select Level
    .col-sm-2
      select.form-control.input-sm(ng-model="vm.session" ng-options="session as session.session for session in vm.sessions track by session.id")
        option(value="") Select Session
    .col-sm-2
      select.form-control.input-sm(ng-model="vm.semester.semester")
        option(value="1") 1st Semester
        option(value="2") 2nd Semester
    .row.hidden-print
      .col-sm-2
        button.btn.btn-sm.btn-primary(ng-click="vm.getResults()") Go
    .row.content.hidden-print
      button.btn.btn-sm.btn-primary(ng-click="vm.print()") Print
  .row
    .col-sm-12
      .row
        h4.col-sm-12.text-center PASS LIST
      table.table.table-striped
        thead
          th S/N
          th Matric
          th Name
          th Previous CGPA
          th Present GPA
          th FINAL CGPA
          th
          th.hidden-print Actions
        tbody(style="font-size: 0.9em")
          tr(ng-repeat="(key,student) in vm.pass | orderBy:'+username'")
            td {{key + 1}}
            td {{student.info.user.username | matricNo}}
            td {{student.info.user.last_name | uppercase}}, {{student.info.user.first_name}}
            td {{student.prev_cgpa | number:2}}
            td {{student.gpa | number:2}}
            td {{student.cgpa | number:2}}
            td
              span(ng-show="student.cgpa >= 3.5") Fountain Scholar
            td.hidden-print
              a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
              a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
    .col-sm-12
      .row
        h4.col-sm-12.text-center PASS WITH COURSE(S) STILL OUTSTANDING LIST
      table.table.table-striped
        thead
          th S/N
          th Matric
          th Name
          th Previous CGPA
          th Present GPA
          th FINAL CGPA
          th
          th.hidden-print Actions
        tbody(style="font-size: 0.9em")
          tr(ng-repeat="(key,student) in vm.pcso | orderBy:'+username'")
            td {{key + 1}}
            td {{student.info.user.username | matricNo}}
            td {{student.info.user.last_name | uppercase}}, {{student.info.user.first_name}}
            td {{student.prev_cgpa | number:2}}
            td {{student.gpa | number:2}}
            td {{student.cgpa | number:2}}
            td
              span(ng-show="student.cgpa >= 3.5") Fountain Scholar
            td.hidden-print
              a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
              a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
    .col-sm-12
      .row
        h4.col-sm-12.text-center PROBATION LIST
      table.table.table-striped
        thead
          th S/N
          th Matric
          th Name
          th Previous CGPA
          th Present GPA
          th FINAL CGPA
          th.hidden-print Actions
        tbody(style="font-size: 0.9em")
          tr(ng-repeat="(key,student) in vm.probation | orderBy:'+username'")
            td {{key + 1}}
            td {{student.info.user.username | matricNo}}
            td {{student.info.user.last_name | uppercase}}, {{student.info.user.first_name}}
            td {{student.prev_cgpa | number:2}}
            td {{student.gpa | number:2}}
            td {{student.cgpa | number:2}}
            td.hidden-print
              a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
              a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
    .col-sm-12
      .row
        h4.col-sm-12.text-center WITHDRAWAL LIST
      table.table.table-striped
        thead
          th S/N
          th Matric
          th Name
          th Previous CGPA
          th Present GPA
          th FINAL CGPA
          th.hidden-print Actions
        tbody(style="font-size: 0.9em")
          tr(ng-repeat="(key,student) in vm.withdrawal | orderBy:'+username'")
            td {{key + 1}}
            td {{student.info.user.username | matricNo}}
            td {{student.info.user.last_name | uppercase}}, {{student.info.user.first_name}}
            td {{student.prev_cgpa | number:2}}
            td {{student.gpa | number:2}}
            td {{student.cgpa | number:2}}
            td.hidden-print
              a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
              a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
    .col-sm-12
      .row
        h4.col-sm-12.text-center SICK LIST
      table.table.table-striped
        thead
          th S/N
          th Matric
          th Name
          th.hidden-print Actions
        tbody(style="font-size: 0.9em")
          tr(ng-repeat="(key,student) in vm.sick | orderBy:'+username'")
            td {{key + 1}}
            td {{student.user.username | matricNo}}
            td {{student.user.last_name | uppercase}}, {{student.user.first_name}}
            td.hidden-print
              a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
              a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
    .col-sm-12
      .row
        h4.col-sm-12.text-center LEAVE LIST
      table.table.table-striped
        thead
          th S/N
          th Matric
          th Name
          th.hidden-print Actions
        tbody(style="font-size: 0.9em")
          tr(ng-repeat="(key,student) in vm.leave | orderBy:'+username'")
            td {{key + 1}}
            td {{student.user.username | matricNo}}
            td {{student.user.last_name | uppercase}}, {{student.user.first_name}}
            td.hidden-print
              a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
              a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
    .col-sm-12
      .row
        h4.col-sm-12.text-center DEFERMENT LIST
      table.table.table-striped
        thead
          th S/N
          th Matric
          th Name
          th.hidden-print Actions
        tbody(style="font-size: 0.9em")
          tr(ng-repeat="(key,student) in vm.deferment | orderBy:'+username'")
            td {{key + 1}}
            td {{student.user.username | matricNo}}
            td {{student.user.last_name | uppercase}}, {{student.user.first_name}}
            td.hidden-print
              a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
              a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
    .col-sm-12
      .row
        h4.col-sm-12.text-center SUSPENSION LIST
      table.table.table-striped
        thead
          th S/N
          th Matric
          th Name
          th.hidden-print Actions
        tbody(style="font-size: 0.9em")
          tr(ng-repeat="(key,student) in vm.suspension | orderBy:'+username'")
            td {{key + 1}}
            td {{student.user.username | matricNo}}
            td {{student.user.last_name | uppercase}}, {{student.user.first_name}}
            td.hidden-print
              a.btn.btn-xs.btn-primary(ui-sref="student_view({id:student.info.user.id})") View Details
              a.btn.btn-xs.btn-primary(ui-sref="studentResultView({userId:student.info.user.id})") View Result
  .col-sm-2
    .panel.panel-info
      .panel-heading Summary
      .panel-body
        table.table.table-bordered
          tr
            th Pass
            td {{vm.pass.length}}
          tr
            th PCSO
            td {{vm.pcso.length}}
          tr
            th Probation
            td {{vm.probation.length}}
          tr
            th Withdrawal
            td {{vm.withdrawal.length}}
          tr
            th Leave
            td {{vm.leave.length}}
          tr
            th Sick
            td {{vm.sick.length}}
          tr
            th Suspension
            td {{vm.suspension.length}}
          tr
            th Deferment
            td {{vm.deferment.length}}
          tr
            th Total
            th {{vm.total}}
  .row.visible-print
    .col-sm-4.content-vert
      span {{vm.level_adviser.lecturer.user.last_name | uppercase}}, {{vm.level_adviser.lecturer.user.first_name}}
      br
      span ___________________________________
      br
      span Level Adviser {{vm.level.level}} Level Signature/Date
    .col-sm-4.content-vert
      span {{vm.hod.lecturer.user.last_name | uppercase}}, {{vm.hod.lecturer.user.first_name}}
      br
      span ___________________________________&nbsp
      br
      span Head of {{vm.hod.dept.name}}'s Signature/Date
    .col-sm-4.content-vert
      span Dean of College: ____________________________
      br
      span Signature/Date
