//Created by P-FLEX MONEY on 17-Dec-18.
div(ng-controller="IntraTransferRequestCtrl as vm")
  .row.text-center.content-vert
    .col-sm-12
      button.btn.btn-sm.btn-primary(ng-click="vm.change_view('pending')") Pending
      button.btn.btn-sm.btn-primary(ng-click="vm.change_view('approved')") Approved
      button.btn.btn-sm.btn-primary(ng-click="vm.change_view('paid')") Paid
  .row
    section.col-sm-12(ng-show="vm.pending")
      .panel.panel-warning
        .panel-heading
          .panel-title Pending Intra-University Transfer Requests
        .panel-body
          table.table.table-condensed.table-striped.table-bordered
            thead
              th S/N
              th Name
              th Matric No
              th Current Department & Major
              th Requested Department & Major
              th Reason
              th Action
            tbody
              tr(ng-repeat="(key,request) in vm.requests | filter:{status:0}")
                td {{key + 1}}
                td {{request.student.user.last_name | uppercase}}, {{request.student.user.first_name}}
                td {{request.student.user.username | matricNo}}
                td {{request.student.major.dept.name}}
                  br
                  span {{request.student.major.name}}
                td {{request.major.dept.name}}
                  br
                  span {{request.major.name}}
                td(ng-bind-html="request.reason | newLine")
                td
                  button.btn.btn-sm.btn-success(ng-click="vm.process(request)") Approve
                  button.btn.btn-sm.btn-danger(ng-click="vm.decline(request)") Decline

    section.col-sm-12(ng-show="vm.approved")
      .panel.panel-info
        .panel-heading
          .panel-title Approved Intra-University Transfer Requests
        .panel-body
          table.table.table-condensed.table-striped.table-bordered
            thead
              th S/N
              th Name
              th Matric No
              th Current Department & Major
              th Requested Department & Major
              th Reason
              th Action
            tbody
              tr(ng-repeat="(key,request) in vm.requests | filter:{status:1, paid:false}")
                td {{key + 1}}
                td {{request.student.user.last_name | uppercase}}, {{request.student.user.first_name}}
                td {{request.student.user.username | matricNo}}
                td {{request.student.major.dept.name}}
                  br
                  span {{request.student.major.name}}
                td {{request.major.dept.name}}
                  br
                  span {{request.major.name}}
                td(ng-bind-html="request.reason | newLine")
                td
                  button.btn.btn-sm.btn-danger(ng-click="vm.decline(request)") Decline

    section.col-sm-12(ng-show="vm.paid")
      .panel.panel-success
        .panel-heading
          .panel-title Paid Intra-University Transfer Requests
        .panel-body
          table.table.table-condensed.table-striped.table-bordered
            thead
              th S/N
              th Name
              th Matric No
              th Current Department & Major
              th Requested Department & Major
              th Reason
              th Action
            tbody
              tr(ng-repeat="(key,request) in vm.requests | filter:{status:1, paid:true}")
                td {{key + 1}}
                td {{request.student.user.last_name | uppercase}}, {{request.student.user.first_name}}
                td {{request.student.user.username | matricNo}}
                td {{request.student.major.dept.name}}
                  br
                  span {{request.student.major.name}}
                td {{request.major.dept.name}}
                  br
                  span {{request.major.name}}
                td(ng-bind-html="request.reason | newLine")
                td
                  button.btn.btn-sm.btn-danger(ng-click="vm.transfer(request)") Transfer Student
