//Created by GHostEater on 16-Aug-16.
.modal-header
    h3.modal-title(ng-show="vm.status == 1") Approve Edit Request
    h3.modal-title(ng-show="vm.status == 2") Decline Edit Request
.modal-body
    p.text-center Are You Sure
.modal-footer
    button.btn.btn-primary(ng-click="vm.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel